    * {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    background: url("img/BG2.jpg") no-repeat center / cover;
    padding: 50px 5%;
}

.container {
    position: relative;
    height: 100%;
    background: rgba(255, 255 ,255 , .1);
    border-radius: 30px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;    

}
.logo {
    max-width: 80px; 
    width: 50%;
    height: auto;    
    display: block;   
  }

/*.logo {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
*/
.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: 2px solid transparent;

}

.navbar a:hover {
    border-color: #fff;
}

.home {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 50px 5% 0;
    color: #fff;
}

.home-detail h1 {
    font-size: 50px;
    line-height: 1;
}

.home-detail p {
    font-size: 17px;
    margin: 10px 0 20px;
}

.home-detail .downlond-social {
    display: flex;
    align-items: center;
}

.btn:hover {
    background: transparent;
    box-shadow: none;
    color: #fff;
}

.home-detail  .social-icons {
    margin-left: 20px;
}

.home-detail .social-icons a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 0 8px;
        transition: .5s;
}

.home-detail .social-icons a:hover {
    background: #fff;
    box-shadow: 0 0 10px #fff;
    color: #333;
}

.home-img .img-box {
    position: relative;
    width: 28vw;
    height: 28vw;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px #fff;
    overflow: hidden;
}

.home-img .img-box img{
    position: absolute;
    top: 30px;
    display: block;
    width: 100%;
    object-fit: cover;
}

.home-detail  .social-icon {
    margin-left: 0px;
}

.home-detail .social-icon a {
    display: inline-flex;
    padding: 8px;
    
    border-radius: 100%;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    margin: 0 8px;
        transition: .5s;
}

.home-detail .social-icon a:hover {
    background: #fff;
    box-shadow: 0 0 10px #fff;
    color: #333;
}


.card {
            width: 100px;
            height: 250px;
        }

        .card img {
            width: 100%;
            height: 100%;
        }

.container {
            display: flex;
            gap: 20px;
       }

.card {
            width: 385px;
            padding: 20px;
            border: 3px solid #fbfbfb;
            border-radius: 20px;
            text-align: center;
            box-shadow: 0 5px 15px rgba(0,0,0,0.2);
            transition: 0.3s;
    }

.card:hover {
            transform: scale(1.05);
    }

.card img {
            width: 100%;
            border-radius: 15px;
            cursor: pointer;
    }

    
.popup {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.7);
            justify-content: center;
            align-items: center;
            z-index: 999;
    }

.popup img {
            width: 80%;
            max-width: 600px;
            border-radius: 20px;
    }

    .card img {
    display: block;       
    margin-bottom: 20px;  
}

.card h2, .card p {
    margin: 0;
    padding: 10px 0;      
}